{% form_theme form 'JCCommandeBundle:Form:fields.html.twig' %}

	      
      
	{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
  
	<div class='row col-md-12'>
		{{ form_errors(form) }}
	</div>

	<div class='row top30'>

		<div class='container col-md-5'>
			<div class='well'>
				<legend>Livraison 
				
                                    {# On ne donne la possibilite de choisir une livraison qu'au moment de creer la commande #}
                                    {% if commande.etat == "Creee"%}
                                    
                                        <!-- Bouton execution modal -->
                                        <div class='pull-right'>
                                            <a class="clickable" data-toggle="modal" data-target="#modalLivraison" data-container="body">
                                                <i class="glyphicon glyphicon-list"></i>
                                            </a>
                                        </div>
                                        <!-- Modal -->
                                        <div class="modal fade" id="modalLivraison" tabindex="-1" role="dialog" aria-labelledby="livraisonLabel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <div class="panel panel-primary filterable">
                                                            <div class="panel-heading">
                                                                <div class='row'>
                                                                    <h3 class="panel-title col-md-6">Livraisons enregistrees</h3>
                                                                    <a type="hiden" id="bouton_close_modal_Livraison" class="close" data-dismiss="modal" aria-label="Close"></a>
                                                                </div>
                                                            </div>

                                                            <table class="table table_center">

                                                                <thead>
                                                                    <tr class="filters">
                                                                        <th ><input type="text" class="form-control" placeholder="Rechercher.."></th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>

                                                                    {% for livraison in listeLivraisons %}
                                                                        <tr>
                                                                            <td onclick="setInfos('Livraison','{{livraison.nom}}', '{{livraison.adresse}}', '{{livraison.complementAdresse}}', '{{livraison.ville}}',
                                                                                    '{{livraison.codePostal}}','{{livraison.telephone}}')">{{ livraison.nom }}</td>
                                                                        </tr>
                                                                    {% endfor %}

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    {%endif%}
                                </legend>
                            
                                                            
                                                            
				<div class='row'>	          	
					<p class='col-md-4'><b>Nom*</b> : <div> {{ form_widget(form.nomLivraison, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
				
				<div class='row'>	          	
					<p class='col-md-4'><b>Adresse*</b> : <div> {{ form_widget(form.adresseLivraison, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
				
				<div class='row'>	          	
					<p class='col-md-4'><b>Complement</b> : <div> {{ form_widget(form.complementAdresseLivraison, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
								
				<div class='row'>	          	
					<p class='col-md-4'><b>Ville*</b> : <div> {{ form_widget(form.villeLivraison, {'attr': {'class':'col-md-4' , 'placeholder':'Ex : Nancy'}}) }}</div> <div> 																	{{ form_widget(form.codePostalLivraison, {'attr': {'class':'col-md-3 pull-right' , 'placeholder':'Ex : 54000'}}) }}</div></p>
				</div>
				
				<div class='row'>	          	
					<p class='col-md-4'><b>Telephone*</b> : <div> {{ form_widget(form.telephoneLivraison, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
	
				
			</div>
		</div>
		
		
		<div class='container col-md-5 pull-right'>
			<div class='well'>
				<legend>Fournisseur 
                                    <!-- Bouton execution modal -->
                                    
                                    {# On ne donne la possibilite de choisir une livraison qu'au moment de creer la commande #}
                                    {% if commande.etat == "Creee"%}
                                    
                                        <div class='pull-right'>
                                            <a class="clickable" data-toggle="modal" data-target="#modalFournisseur" data-container="body">
                                                <i class="glyphicon glyphicon-list"></i>
                                            </a>
                                        </div>

                                        <!-- Modal -->
                                        <div class="modal fade" id="modalFournisseur" tabindex="-1" role="dialog" aria-labelledby="fournisseurLabel">
                                            <div class="modal-dialog">
                                                <div class="modal-content">

                                                    <div class="modal-body">
                                                        <div class="panel panel-primary filterable">
                                                            <div class="panel-heading">
                                                                <div class='row'>
                                                                    <h3 class="panel-title col-md-6">Fournisseurs enregistres</h3>
                                                                    <a type="hiden" id="bouton_close_modal_Fournisseur" class="close" data-dismiss="modal" aria-label="Close"></a>
                                                                </div>
                                                            </div>
                                                            <table class="table table_center">

                                                                <thead>
                                                                    <tr class="filters">
                                                                        <th ><input type="text" class="form-control" placeholder="Rechercher.."></th>
                                                                    </tr>
                                                                </thead>

                                                                <tbody>
																	
                                                                    {% for fournisseur in listeFournisseurs %}
                                                                        <tr>
                                                                        
                                                                            <td onclick="setInfos('Fournisseur','{{fournisseur.nom}}', '{{fournisseur.adresse}}', '{{fournisseur.complementAdresse}}', '{{fournisseur.ville}}',
                                                                                    '{{fournisseur.codePostal}}','{{fournisseur.telephone}}')">{{ fournisseur.nom }}</td>
                                                                        </tr>
                                                                    {% endfor %}

                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div><!-- /.modal-content -->
                                            </div><!-- /.modal-dialog -->
                                        </div><!-- /.modal -->
                                    {%endif%}
                                </legend>
					          	
				<div class='row'>	          	
					<p class='col-md-4'><b>Nom*</b> : <div> {{ form_widget(form.nomFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>								
								
				<div class='row'>	          	
					<p class='col-md-4'><b>Adresse*</b> : <div> {{ form_widget(form.adresseFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
		
				<div class='row'>	          	
					<p class='col-md-4'><b>Complement</b> : <div> {{ form_widget(form.complementAdresseFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
				
				<div class='row'>	          	
					<p class='col-md-4'><b>Ville*</b> : <div> {{ form_widget(form.villeFournisseur, {'attr': {'class':'col-md-4' , 'placeholder':'Ex : Nancy'}}) }}</div> <div> 																{{ form_widget(form.codePostalFournisseur, {'attr': {'class':'col-md-3 pull-right' , 'placeholder':'Ex : 54000'}}) }}</div></p>
				</div>
  							
  				<div class='row'>	          	
					<p class='col-md-4'><b>Telephone*</b> : <div> {{ form_widget(form.telephoneFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>
				
				<div class='row'>	          	
					<p class='col-md-4'><b>Fax</b> : <div> {{ form_widget(form.faxFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
				</div>				
  							
			
				{% if commande.contactFournisseur != "" or commande.emailContactFournisseur != "" %}
				
					<div id='cacheContactFournisseur'>
					
				{% else %}	
				
					<a id='boutonContactFournisseur'> Contact Fournisseur </a>

					<div id='cacheContactFournisseur' style='display:none'>

				{% endif %}

					<div class='row'>	          	
			
						<p class='col-md-4'><b>Contact</b> : <div> {{ form_widget(form.contactFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
					</div>
				
					<div class='row'>	          	
						<p class='col-md-4'><b>Email Contact</b> :<div> {{ form_widget(form.emailContactFournisseur, {'attr': {'class':'col-md-8' , 'display':'block'}}) }}</div></p>
					</div>
				
				</div>
				
				
			</div>		
  							
		</div>
		
	</div>
  
  
  
  
  
	<div class='row'>
		<div class='container col-md-offset-1 col-md-10 top30'>
			<div class='well'>
				<legend>Informations commande</legend>
	
				<div class='row'>
					<div class='col-md-7'>
											
						
						<div class='row'>
							<p class='col-md-4'><b>Activite</b> :</p>    
							<div> {{ form_widget(form.activite, {'attr': {'class':'col-md-6 choix_activite'}} )}} </div>
						</div>
						
						<div class='row'>
							<p class='col-md-4'><b>Numero d'application</b> :</p>    
							<div> {{ form_widget(form.application, {'attr': {'class':'col-md-6 choix_application'}} )}} </div>
						</div>
						
						<div class='row'>	          	
							<div class='col-md-4'  ><b>Reference interne*</b> :</div> <div class='col-md-4'> {{ form_widget(form.reference) }}</div>
						</div>

					</div>
					
					<div class='col-md-5 '>
						<div class='row'>
							<p class='col-md-4'><b>Suivi par</b> :</p>    
							<div> {{ form_widget(form.utilisateur, {'attr': {'class':'col-md-6'}} )}} </div>
						</div> 
						<p><b>Date creation</b> : {{ date()|date('d/m/Y') }}</p>  
						

						<p><b>Date de livraison</b> : {{ form_widget(form.dateLivraison, {'attr' : {'class':'datepicker_readonly'}}) }}	</p>  				
					</div>
				</div>
				
				<div class='row'>	
				
					<hr class='bs-docs-separator'>
		
					<div class='col-md-6'>
						<p><b>Libelle pour la facturation*</b></p> 
						<div>{{ form_widget(form.libelleFacturation, {'attr' : {'class':'col-md-12'}}) }}</div>
					</div>			
				
					<div class='col-md-5 col-md-offset-1'>
						
						<div class='row'>
							<p class='col-md-6'><b>Numero d'engagement</b> :</p>    
							<div> {{ form_widget(form.engagement, {'attr': {'class':'col-md-6'}} )}} </div>
						</div> 
						
						<div class='row'>
							<p class='col-md-6'><b>Imputation</b> :</p>    
							<div> {{ form_widget(form.imputation, {'attr': {'class':'col-md-6'}} )}} </div>
						</div> 
						
					
					</div>
				
				</div>
				
			</div>
		</div>
		
	</div>



	<div class='row'>
		<div class='container  col-md-12 top30'>
			<div class='well'>
				<legend>Ventilation</legend>
	
				<div class='row '>
								
								
			    	<div class="input-group col-md-12">
			    		<div id="select-ventilation">
			    			
			    			<a class="btn btn-success col-md-4 col-md-offset-2" id='boutonDirecte'> Directe </a>
			    			<a class="btn noActive col-md-4" id='boutonMutualisee'> Mutualisee </a>
			    			
							{{ form_widget(form.ventilation, {'attr': {'class':'hidden_ventilation' , 'value': commande.ventilation, 'label_render': 'false'}} )}}
			    		</div>
			    	</div>
				
				</div>
				
				
				<div id='form_villes_concernees' class='row top30'>
				
					<div class="col-md-12">
						{{ form_widget(form.villes_concernees) }}
					</div>
					
					

				</div>
				
				
				
			</div>
		</div>
	</div>	
  
  
  
  
  


	<div class='row top30'>
		<div class='panel panel-success'>
			<table class="table table-striped table_center" id="table_ligne_commande">
			      <thread>
			        <tr>
			        
			        	<th class='col-md-1'></th>
						<th class='col-md-2'>Libelle</th>
						<th class='col-md-2'>Commentaire</th>
						<th class='col-md-2'>Reference</th>
						<th class='col-md-1'>Quantite</th>
						<th class='col-md-2'>Prix Unitaire</th>
						<th class='col-md-1'>TVA</th>
						<th class='col-md-1'>Total TTC</th>
						
			        </tr>
			      </thread>
			      
			      <tbody id='tbody_corps' data-prototype="{{ form_widget(form.listeLignesCommande.vars.prototype)|e }}">
			      
			      <tr>
		      
		      		<td colspan='8'> <a class='btn btn-success btn_ajouter' id='ajouter_ligne_commande' > Creer une ligne </a> </td>
		      	
			  	</tr>
                                
                                {% set i = 0 %}
                                {% for ligne in form.listeLignesCommande %}

                    <tr>
                    
						<td> <a class='supprimer_ligne_commande'><span class="glyphicon glyphicon-remove-circle"></span></a> </td>
						<td> {{ form_widget(ligne.libelle, {'attr': {'class':'col-md-12'}}) }} </td>
						<td> {{ form_widget(ligne.commentaire, {'attr': {'class':'col-md-12'}}) }} </td>
						<td> {{ form_widget(ligne.reference, {'attr': {'class':'col-md-12'}}) }} </td>
						<td> {{ form_widget(ligne.quantite, {'attr': {'class':'col-md-12', 'onkeyup':'calcul_TTC('~i~');'}}) }} </td>
						<td> {{ form_widget(ligne.prixUnitaire, {'attr': {'class':'col-md-11', 'onkeyup':'calcul_TTC('~i~');'}}) }} €</td>
						<td> {{ form_widget(ligne.tva, {'attr': {'class':'col-md-12', 'onchange':'calcul_TTC('~i~');'}}) }}</td>
                        <td> <span class='col-md-12' id='total_TTC_{{i}}' value='0.00 €'></spans> </td>
                        	{{ form_widget(ligne.totalTTC) }}
						
                            <script> calcul_TTC({{i}}); </script>
					</tr>
					{% set i = i+1 %}

					{% endfor %}
			  
			    </tbody>
			</table>
  
		</div>
	</div>
  
  


  
  
    
  
	{# On met le champs hidden de l'etat de la commande #}
	{{ form_widget(form.etat, {'attr': {'class':'hidden_etat' , 'value': commande.etat, 'label_render': 'false'}} )}}

  
	<div class='top30'>
		{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary col-md-8 col-md-offset-2 save top30' }}, { 'label': 'Enregistrer la commande'}) }}
	</div>
  
	{{ form_end(form) }}


        
        
		
		<script charset="UTF-8">
 
			$( document ).ready(function() {
				
				{# On coche les villes selectionnees dans la database #}
				{# On se sert pour cela de la ventilation de la base de donnée (l'ancienne ventilation s'il sagit d'un changement) #}
				{% for ccc in cCCDejaBDD %}
					metVille('{{ancienneVentilation}}','{{ccc.collectivite.nom}}','{{ccc.collectivite.id}}','{{ccc.repartition}}');
				{% endfor %}
				
				{# On remet les valeurs saisie si une erreur etait dans le form #}
				{% for ville in tabVilles %}
					remetValeur('{{ville.nom}}','{{ville.id}}');
				{% endfor %}
				
				
				
				{# On regarde la ventilation de la commande #}								
				metEnPlaceVentilation('{{commande.ventilation|json_encode()|raw}}');

 			});

		</script>

 


