{% extends "JCCommandeBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Modification{% endblock %}

{% block jccommande_body %}

	<div class='row'>
		<div class='h3 col-md-6'>Modification de la commande n° : {{commande.id}} </div>
		<div class='pull-right  col-md-6'> 
			
			<p class='col-md-5 h3 vcenter'>Etat : {{commande.etat}} </p><!--
			
			{# ----- Si la commande est "Enregistree", on propose de la passer "Envoyer" ----- #}
			
			{% if commande.etat == "Enregistree" %}
				--><button class='btn btn-warning col-md-3 vcenter' data-toggle="modal" data-target="#modalEnvoyer">Envoyer</button><!--
				
				--><button class='btn btn-danger col-md-3 col-md-offset-1 vcenter' data-toggle="modal" data-target="#modalSupprimer">Supprimer</button>

				<!-- Modal Envoyer -->
				<div class="modal fade" id="modalEnvoyer" tabindex="-1" role="dialog" aria-labelledby="modalEnvoyer">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Êtes-vous sûr ?</h4>
				      </div>
				      <div class="modal-body">
					  	<p>En marquant cette commande comme "Envoyee" vous ne pourrez-plus la modifier.</p>
					  	<p>Êtes-vous sur de vouloir changer le statut de la commande ?</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="col-md-4 btn btn-danger pull-left"  data-dismiss="modal">Annuler</button>
				        <button type="button" class="col-md-4 btn btn-success pull-right" data-dismiss="modal" onclick="changementEtatCommande({{commande.id}},'Envoyee')">Confirmer</button>
				      </div>
				    </div>
				  </div>
				</div>
				
				
				<!-- Modal  Supprimer-->
				<div class="modal fade" id="modalSupprimer" tabindex="-1" role="dialog" aria-labelledby="modalSupprimer">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title">Êtes-vous sûr ?</h4>
				      </div>
				      <div class="modal-body">
					  	<p>En marquant cette commande comme "Supprimee" vous ne pourrez-plus la modifier.</p>
					  	<p>Êtes-vous sur de vouloir changer le statut de la commande ?</p>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="col-md-4 btn btn-danger pull-left"  data-dismiss="modal">Annuler</button>
				        <button type="button" class="col-md-4 btn btn-success pull-right" data-dismiss="modal" onclick="changementEtatCommande({{commande.id}},'Supprimee')">Confirmer</button>
				      </div>
				    </div>
				  </div>
				</div>
				
			{% endif %}
			
			
			
						
			
			
			
			
			
			
			
			
			
			
			
			

		</div>
	</div>
	
  {{ include("JCCommandeBundle:Commande:form.html.twig") }}

{% endblock %}