{% extends "JCAccueilBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Accueil{% endblock %}


{% block jcaccueil_body %}

  <h3>Bienvenue dans l'accueil </h3>
  


   
   
<div class='row top30'>

	<div class='container col-md-5'>
		<div class='well'>
			<legend>Infos <span class='pull-right'> {{ annee }} </span></legend>          	  				
							
				<p> {{infoCommandes['nombreCommandesPassees']|number_format(0, '.', ' ')}} commandes passees, pour un total de {{infoCommandes['montantCommandesPassees']|number_format(2, ',', ' ')}} € </p>
				
				<ul>
					<li> {{infoCommandes['nombreCommandesDirectes']|number_format(0, '.', ' ')}} commandes directes, pour un total de {{infoCommandes['montantCommandesDirectes']|number_format(2, ',', ' ')}} € </li>
					<li>  {{infoCommandes['nombreCommandesMutualisees']|number_format(0, '.', ' ')}} commandes mutualisées, pour un total de {{infoCommandes['montantCommandesMutualisees']|number_format(2, ',', ' ')}} € </li>
					<li>  {{infoCommandes['nombreCommandesForfaits']|number_format(0, '.', ' ')}} commandes forfaitisées, pour un total de {{infoCommandes['montantCommandesForfaits']|number_format(2, ',', ' ')}} € </li>
				</ul>

				  				
		</div>
	</div>

	

</div>
	
	
	
	
<div>

	{# On affiche les infos de chaque service #}
	<div class="center">

		{% for service in infoServices|keys %}

		    <div class="col-md-4 text-center top30">
		    	<div class="panel panel-success panel-pricing">
					
					<div class="panel-heading">
		                <h3> {{service}} </h3>
		            </div>
		            
		            
		            
		            <ul class="list-group text-center">
		            
						
						{% for budget in infoServices[service] %}
		            
		            
							<li class="list-group-item">
								<div>
									<i class="fa fa-check"></i> {{budget['libelle']}} : {{ budget['montant']|number_format(2, ',', ' ') }} €
		
									<i class="fa fa-check"></i> 
		
									{% set ratio = (budget['montantUtilise'] / budget['montant'] )*100 %}
						    
						            {% if ratio < 65 %}
						               	{% set class = "success" %}
									{% elseif ratio < 85 %}
						               	{% set class = "warning" %}
						            {% else %}
						            	{% set class = "danger" %}
						            {% endif %}
				                
				                
				                    <div class="progress progress"  style="margin-top:10px">
				                        <div class="progress-bar progress-bar-{{class}}" role="progressbar" aria-valuenow="{{ratio}}" aria-valuemin="0" aria-valuemax="100" style="width: {{ratio}}%">
				                            <span class="sr-only">{{ratio|number_format(2)}}%</span>
				                        </div>
									</div>
							
							</li>
						
						{% endfor %}
		            
		            </ul>
		            
		            
		            <div class="panel-footer">
		                <a class="btn btn-success" href="{{ path('jc_commande_liste', {'service': service}) }}">Voir les commandes du service {{service}}</a>
		            </div>
		        
		        </div>
		    </div>
		
		{% endfor %}
	</div>
</div>

{% endblock %}