	<nav class="navbar navbar-default navbar-fixed-top" id="navBar_Top"> 
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>

			{# A supprimer en production #}
	        <span class="icon-bar"></span>


	      </button>
	      <a class="navbar-brand" href="{{path('jc_accueil_homepage')}}">Facturation</a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Commande <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="{{ path('jc_commande_creation') }}">Créer une commande</a></li>
	            <li><a href="{{ path('jc_commande_liste') }}">Liste des commandes</a></li>
	          </ul>
	        </li>
	    

	        <li><a href="{{ path('jc_facturation_homepage', {'annee' : "now"|date("Y")}) }}">Facturation</a></li>

	        <li><a href="{{ path('jc_admin_homepage') }}">Admin</a></li>

	      </ul>

	    
	     
		<ul class="nav navbar-nav navbar-right" >

			{# Si l'utilisateur est connecté, on propose le bouton déconnecter #}
			{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    
			    <li><a class="not-active">Connecté : {{ app.user.username }}</a></li>
			    
		        <li><a href="{{ path('fos_user_security_logout') }}">Déconnection</a></li>			

			{% else %}

		        <li><a href="{{ path('fos_user_security_login') }}">Connection</a></li>			

			{% endif %}

	        
		   

		  	{# A supprimer après la phase de test #}
	        <li><a href="{{ path('jc_bug_report_homepage') }}">Bug</a></li>

		</ul>
			



	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>	