{# fields_errors.html.twig #}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        
        
        <div class="col-md-offset-2 col-md-8">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <span class="glyphicon glyphicon-hand-right"></span> <strong> Danger Message</strong>
                <hr class="message-inner-separator">
                
                <ul class="error_list">
		            {% for error in errors %}
		                <li>{{
		                    error.messagePluralization is null
		                        ? error.messageTemplate|trans(error.messageParameters, 'validators')
		                        : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
		                }}</li>
		            {% endfor %}
		        </ul>

            </div>
        </div>	
        
        
		{% endif %}
    {% endspaceless %}
{% endblock form_errors %}




{# On redéfini les checkbox pour les villes mutualisées #}
{% block checkbox_widget %}
{% spaceless %}
					
			
         <div class=" col-md-12">
		 	<div class="form-group">
            <input type="checkbox"  name="jc_commandebundle_listeimputations[listeImputationConcerneBudget][]" id="jc_commandebundle_listeimputations_listeImputationConcerneBudget_{{value}}" autocomplete="off" value='{{value}}' tag='checkbox_{{label}}'/>
             
      
					{{label}}
					
                    

               
             
               
			</div>
              
                    
            
                    
         </div>

                    
{% endspaceless %}
{% endblock checkbox_widget %}






{# On met en forme la partie du formulaire concernant les budgets #}
{% block _jc_commandebundle_listeimputations_listeImputationConcerneBudget_widget %}
{% spaceless %}
	
	
	{% for child in form %}
	
        {{ form_widget(child) }}
    	
    {% endfor %}
   
		
{% endspaceless %}
{% endblock _jc_commandebundle_listeimputations_listeImputationConcerneBudget_widget %}

