{% extends "JCFacturationBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Facturation{% endblock %}


{% block jcaccueil_body %}

  <h3>Vous venez de lancer la Facturation </h3>
  

<div class='container top30'>

	<p> Total des commandes directes : {{total_d}}
	<p> Total des commandes mutualisées : {{total_m}}
	
</div>


<div>

	{% set i = 0 %}
		
	{% for collectivite in listeCollectivite %}
		
		{% if i%2 == 0 %}
		
			<div class='container col-md-5 top30 bordered'>
			
		{% else %}
			
			<div class='container col-md-5 col-md-offset-2 top30 bordered'>
			
		{% endif %}
		
		{% set i = i+1 %}
	
			<legend>{{ collectivite.nom }}</legend>
				          	  							
				<table class="table table-striped table_center">
			    	<thread>
			    		
			    		<tr>
			    			<th> Libelle </th>
			    			<th> Ventilation </th>
			    			<th> Total TTC </th>
			    			<th>  </th>
						</tr>

					</thread>
			      
					<tbody>
						
						{% for commande in collectivite.getListeCommandes %}

							<tr> 
								<td> {{ commande.libelleFacturation }} </td>
								<td> {{ commande.ventilation[:1] }} </td>
								<td> {{ commande.totalTTC * commande.pourcentage }} </td>
								<td> <a class='btn btn-info' href="{{ path('jc_commande_detail', { 'id': commande.id }) }}" >Detail</a> </td>
							</tr>
			 
						{% endfor %}

			 
					</tbody>
			   </table>

  				
	</div>

	
	{% endfor %}


</div>
{% endblock %}