{% extends "JCFacturationBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Facturation{% endblock %}


{% block jcfacturation_body %}

  <h3>Facturation pour {{ infosColl['nomColl'] }} de l'année {{annee}}</h3>
  

<div class='container top30 '>
	
	<div class="row">
		
		<div class="well col-md-6 vcenter">
		
			<p> {{infosColl['nbMutualisees']}} commandes mutualisée(s), soit un total de {{infosColl['montantMutualisees']|number_format(2, ',', ' ') }} €
			<p> {{infosColl['nbDirectes']}} commandes directe(s), soit un total de {{infosColl['montantDirectes']|number_format(2, ',', ' ') }} €
			<p> {{infosColl['nbForfaits']}} forfait(s), soit un total de {{infosColl['montantForfaits']|number_format(2, ',', ' ') }} €
			
			<p> <strong> Total  des commandes : </strong> {{(infosColl['montantMutualisees'] + infosColl['montantDirectes'] + infosColl['montantForfaits'])|number_format(2, ',', ' ') }} €

			<hr>

			<p> <strong> Total des masses salariales : </strong> {{ infosColl['montantMassesSalariales']|number_format(2, ',', ' ') }} €
			
			<hr>
			
			<p> <strong> Total : {{ (infosColl['montantMassesSalariales'] + infosColl['montantMutualisees'] + infosColl['montantDirectes'] + infosColl['montantForfaits'])|number_format(2, ',', ' ') }} € </strong>
		</div><!--
			--><a class="btn btn-success col-md-5 col-md-offset-1 vcenter" href=" {{ path('jc_facturation_pdf_facture', {nomCollectivite : infosColl['nomColl'], annee : annee } ) }}" target="_blank">Générer la facture en PDF</a>
		
		
		
	</div>
</div>




    <!-- table pour les masses salariales -->

<div class="row">
        <div class="panel panel-info filterable ">
            <div class="panel-heading">
                <h3 class="panel-title">Masses salariales</h3>
            </div>
            <table class="table table_center">
            
                <thead>
                	<tr class="filters">
						<th class='col-md-3 center'>Activite</th>
						<th class='col-md-3 center'>Montant Masse Salariale</th>
						<th class='col-md-3 center'>Pourcentage</th>
						<th class='col-md-3 center'>Montant Du</th>
			        </tr>
                </thead>

                <tbody>
                    
          
                    
                    
                {% for masseSalariale in tabMassesSalariales %}
			        <tr>
						<td>{{ masseSalariale['activite'] }}</td>
						<td>{{ masseSalariale['montantTotal']|number_format(2, ',', ' ')}} €</td>
						<td>{{ masseSalariale['pourcentage']|number_format(2, ',', ' ') }} %</td>
						<td>{{ masseSalariale['montantAPayer']|number_format(2, ',', ' ')}} €</td>
					</tr>
					
				{% endfor %}
   
                    
                    
                </tbody>
            </table>
        </div>
    </div>
    
    
    <!-- table pour les commande -->

	<div class="row">
        <div class="panel panel-info filterable ">
            <div class="panel-heading">
                <h3 class="panel-title">Commandes</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table table_center">
            
                <thead>
                	<tr class="filters">
                	    <th><input type="text" class="form-control col-md-1" placeholder="ID commande" disabled></th>
                		<th><input type="text" class="form-control col-md-1" placeholder="Ventilation" disabled></th>
                	    <th><input type="text" class="form-control col-md-2" placeholder="Activite" disabled></th>
                		<th><input type="text" class="form-control col-md-1" placeholder="Date Creation" disabled></th>
                		<th><input type="text" class="form-control col-md-2" placeholder="Total Commande" disabled></th>
                		<th><input type="text" class="form-control col-md-1" placeholder="Repartition" disabled></th>
                		<th><input type="text" class="form-control col-md-2" placeholder="Montant à payer" disabled></th>
						<th class='col-md-2'></th>
			        </tr>
                </thead>

                <tbody>
                    
          
                    
                    
                {% for commande in tabCommandes if commande.ventilation != "Forfait"%}
			        <tr>
						<td>{{ commande['id'] }}</td>
						<td>{{ commande['ventilation'] }}</td>
						<td>{{ commande['activite'] }}</td>
						<td>{{ commande['dateCreation']|date('d/m/Y') }}</td>
						<td>{{ commande['montantTotal']|number_format(2, ',', ' ') }}</td>
						
						<td>
							{% if(commande['ventilation'] == 'Mutualisee') %}
								<a class="popoverData" data-content="{{commande['infoRatioText']}}" rel="popover" data-placement="top" data-original-title="{{commande['infoRatioTitre']}} :" data-trigger="hover">
									{{ commande['repartition']|number_format(2, ',', ' ') }} %
								</a>

							{% else %}
							
								{{ commande['repartition']|number_format(2, ',', ' ') }} %
							
							{% endif %}
						</td>
						
						{# Si le total à payer est de 0, alors il y a sans doute un oubli dans la table infos collectivite / on le fait remarquer #}
						{% if commande['montantAPayer'] == 0 %}
						
							<td style='color:red'>{{ commande['montantAPayer']|number_format(2, ',', ' ') }} €</td>
							
						{% else %}

							<td>{{ commande['montantAPayer']|number_format(2, ',', ' ') }} €</td>

						{% endif %}
						
						<td> <a class='btn btn-info col-md-10 col-md-offset-1' href="{{ path('jc_commande_detail', {'id': commande['id']}) }}" >Voir détail</a> </td>

					</tr>
					
				{% endfor %}
   
                    
                    
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}