{% extends "JCFacturationBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Facturation{% endblock %}


{% block jcfacturation_body %}

  	<h3>Facturation pour l'annee {{annee}} </h3>
  
  	
	


   
   

	
	
	
	
<div>

	{# On affiche les infos de chaque collectivite #}
	<div class="center">
		{% for coll in infosCollectivites %}
		    <div class="col-md-4 text-center top30">
		    	<div class="panel panel-info panel-pricing">
					
					<div class="panel-heading">
		                <h3> {{coll['nom']}} </h3>
		            </div>
		            
		          
		            
		            <ul class="list-group text-center">
		                <li class="list-group-item"><i class="fa fa-check"></i> {{coll['Mutualisee']}} commande(s) Mutualisees </li>
		
		                <li class="list-group-item"><i class="fa fa-check "></i> {{coll['Directe']}} commande(s) Directes </li>
		
						
		            </ul>
		            
		            <div class="panel-footer">
		                <a class="btn btn-info" href="{{ path('jc_commande_liste') }}">Lancer la facturation pour {{coll['nom']}}</a>
		            </div>
		        
		        </div>
		    </div>
		
		{% endfor %}
	</div>
</div>



{% endblock %}