{% extends "JCFacturationBundle::layout.html.twig" %}


{% block title %}{{ parent() }} - Facturation{% endblock %}


{% block jcfacturation_body %}

  
  	
	<h3 class='center'>Facturation pour l'annee {{annee}} </h3>


<nav>
	<ul class="pager">
	
    	<li class="previous"><a href="{{  path('jc_facturation_homepage', {'annee': (annee-1) }) }}"><span aria-hidden="true">&larr;</span> {{annee-1}}</a></li>
		<li class="next"><a href="{{  path('jc_facturation_homepage', {'annee': (annee+1) }) }}">{{annee+1}} <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>



   
	
	
<div>

	{# On affiche les infos de chaque collectivite #}
	<div class="center">
		{% for coll in infosCollectivites %}
		    <div class="col-md-4 text-center top30">
		    	<div class="panel panel-info panel-pricing">
					
					<div class="panel-heading">
		                <h3> {{coll['nom']}} </h3>
		            </div>
		            
		          
		            
		            <ul class="list-group text-center">
		                <li class="list-group-item"><i class="fa fa-check"></i> {{coll['Mutualisee']}} commande(s) Mutualisees </li>
		
		                <li class="list-group-item"><i class="fa fa-check "></i> {{coll['Directe']}} commande(s) Directes </li>
		
						
		            </ul>
		            
		            <div class="panel-footer">
		                <a class="btn btn-info" href="{{ path('jc_facturation_calcul', {'nomCollectivite': coll.nom, 'annee':annee} ) }}">Lancer la facturation</a>
		            </div>
		        
		        </div>
		    </div>
		
		{% endfor %}
	</div>
</div>



{% endblock %}