<style>

		
	#titre_page			{ font-weight:lighter;  text-align:center }
	#nom_collectivite   { font-weight:lighter; text-align:center }
	#date_edition 		{ font-size:9px }
	
	.titre				{ font-weight:lighter}
	.right    			{ text-align: right }
	.left 				{ text-align: left }
	.information		{ font-size:9px }
	.border_left		{ border-left: solid 1px gray; }
	.border_right		{ border-right: solid 1px gray; }
	.border_bottom		{ border-bottom: solid 1px gray; }
	.border_top			{ border-top: solid 1px gray; }
	.td_ventilation		{ border-left: solid 1px gray;
							border-right: solid 1px gray; 
							border-bottom: solid 1px gray; 
							width: 15%; 
							height:40px; 
							text-align:center; 
						}
	.center				{ text-align: center }
	table				{ margin-top:50px; border-collapse: collapse; border: solid 1px gray;}
	td					{ height:30px; font-size:10px; }
	th					{ border-left: solid 1px gray; 
							border-right: solid 1px gray; 
							border-top: solid 1px gray; 
							color:blue; 
							font-weight:lighter';
							height:60px;
							text-align:center;}
	hr					{ margin-top:35px; }
	
	
	<!-- C'est ici pour changer les couleurs -->
	.couleur_titre  { color:blue; }
	
	
	
</style>



<!-- Note : La plus par des commentaire "<!- x ->" sont mis pour pouvoir revenir sur une facturation qui sépare les facture directes et les mutualisées -->






<page backtop="5%" backbottom="5%" backleft="5%" backright="5%">

	<div id="date_edition" class="right"> Date d'édition : {{ "now"|date("m/d/Y") }} </div>

	<h3 id="titre_page" class='couleur_titre' > Facture DSIT Recapitulaitve pour l'année {{annee}}</h3>
	
	<h4 id="nom_collectivite" > {{infosColl['nomColl']}}</h4>

<!--	<div class="information left"><i>Tous les montant sont indiqués en TTC</i></div>  -->
	
	
	<table style='width: 100%;'>
	
		<tr>
			<th class='border_bottom' <!--rowspan='2'--> style='width: 40%;'> Activite </th>
			<th <!--colspan='2'--> class='border_bottom' style='width: 30%;'> Facture </th>
			<th class='border_bottom' <!--rowspan='2' colspan='2'--> style='width: 30%';> Masse Salariale </th>
		</tr>



		<!-- Si on veut séparer les commande directes et les commandes mutualisées		
		<tr>
			<td class='border_right border_bottom' style='width: 15%; height:30px; text-align:center;'> Coûts Directs </td>
			<td class='border_right border_left border_bottom' style='width: 15%; height:30px; text-align:center;'> Coûts Mutualisés </td>
		</tr>
		-->
		
		
		{# On récupère le dernier élément pour fermer le tableau #}
		{% set derniereActivite = tabActivites|last %}
		
		{# On parcours toutes les activites #}
		{% for activite in tabActivites %}
		
			<!-- Pour le dernier élément, il faut rajouter la bordure bottom-->
			{% if activite == derniereActivite %}
	
				{% set border_bottom = 'border_bottom' %}
				
			{% else %}
					
					{% set border_bottom = '' %}

			{% endif %}
				


			
				<!-- On affiche le montant des factures -->
				
				
					<!-- Si l'activité contient des applications, on les affiche ainsi que leur montant -->
					{% if (activite['applications'] | length) > 0 %}
						
					
						<!-- On affiche le nom de l'activite sur une ligne -->
						<tr>
							<td class='border_left border_right' > 
								<label style="margin-left:10px">
									{{ activite['nom'] }}
								</label>
							</td>
							
							<td class='border_right'> </td>
							<td class='border_right'> </td>
							<!--<td class='border_right'> </td>-->
						</tr>
						
						
						<!-- On parcours les applications pour les afficher-->
						{% for application in activite['applications'] %}

							<tr>
								<td class='border_left border_right' > 
									<label style="margin-left:50px">
										{{ application['nom'] }}
									</label>
								</td>
								
								
							<!-- Si on veut séparer les commande directes et les commandes mutualisées		
								<td class='center border_left border_right' > 
									<label >
										{{ application['Directe']|number_format(2, ',', ' ') }} €
									</label>
								</td>
								
								<td class='center border_left border_right' > 
									<label>
										{{ application['Mutualisee']|number_format(2, ',', ' ') }} €
									</label>
								</td>
								
							-->
							
							
								<td class='center border_left border_right' > 
									<label>
										{{ (application['Directe'] + application['Mutualisee'])|number_format(2, ',', ' ') }} €
									</label>
								</td>
															

								<td class='border_right'> </td>

							</tr>
						{% endfor %}
					
						
					
						<!-- On affiche le montants des factures mutualisées et directes -->
						<tr>
							<td class='right border_left border_right {{border_bottom}}'><strong> Total de l'activite : </strong></td>
						

						<!-- Si on veut séparer les commande directes et les commandes mutualisées			
							<td class='center border_right {{border_bottom}}'>
								<label>
									<strong>{{ activite['montantFactures']['Directe']|number_format(2, ',', ' ') }} € </strong>
								</label>
							</td>
		
		
							<td class='center border_right {{border_bottom}}'>
								<label>
									<strong>{{ activite['montantFactures']['Mutualisee']|number_format(2, ',', ' ') }} € </strong>
								</label>
							</td>
						-->
							<td class='center border_right {{border_bottom}}'>
								<label>
									<strong>{{ (activite['montantFactures']['Directe'] + activite['montantFactures']['Mutualisee'])|number_format(2, ',', ' ') }} € </strong>
								</label>
							</td>

							<!-- On affiche le montants de la masse salariale -->
		
							<td class='center border_right {{border_bottom}}'>
								<label>
									<strong>{{ activite['montantMasseSalariale']|number_format(2, ',', ' ') }} € </strong>
								</label>
							</td>
						</tr>
					
					
										
					
						
					{% else %}
						<tr>	
							<!-- On affiche le nom de l'activite -->
					
							<td class='border_left border_right  {{border_bottom}}' > 
								<label style="margin-left:10px">
									{{ activite['nom'] }}
								</label>
							</td>
						

							<!-- On affiche le montants des factures mutualisées et directes -->

						<!-- Si on veut séparer les commande directes et les commandes mutualisées		
		
							<td class='center border_right {{border_bottom}}'>
								<label>
									{{ activite['montantFactures']['Directe']|number_format(2, ',', ' ') }} €
								</label>
							</td>
		
							<td class='center border_right {{border_bottom}}'>
								<label>
									{{ activite['montantFactures']['Mutualisee']|number_format(2, ',', ' ') }} €
								</label>
							</td>
						-->							
		
							<td class='center border_right {{border_bottom}}'>
								<label>
									{{ (activite['montantFactures']['Directe'] + activite['montantFactures']['Mutualisee'])|number_format(2, ',', ' ') }} €
								</label>
							</td>
							
		
							<!-- On affiche le montants de la masse salariale -->
		
							<td class='center border_right {{border_bottom}}'>
								<label>
									{{ activite['montantMasseSalariale']|number_format(2, ',', ' ') }} €
								</label>
							</td>
							
						</tr>		
					
						
					{% endif %}
					
					

					
			
			
		{% endfor %}
		
		
						
		<!-- On affiche les totaux -->
		
		<!-- On affiche le montant des factures -->
				
				
				<tr>
					<td rowspan='2' class='center' style='border: solid 1px gray;' > 
						<label>
							TOTAL : 
						</label>
					</td>
				
				<!-- Si on veut séparer les commande directes et les commandes mutualisées		
					<td class='center' style='border: solid 1px gray;' > 
						<label>
							{{infosColl['totalFactures']['Directe']|number_format(2, ',', ' ')}} €
						</label>
					</td>
					
					<td class='center' style='border: solid 1px gray;' > 
						<label>
							{{infosColl['totalFactures']['Mutualisee']|number_format(2, ',', ' ')}} €
						</label>
					</td>
			
				
					<td class='center' style='border: solid 1px gray;' > 
						<label>
							{{infosColl['montantMassesSalariales']|number_format(2, ',', ' ')}} € 
						</label>
					</td>
				</tr>
				
				
				<tr>
					
				-->
					<td <!--colspan='2'--> class='center border_right border_bottom border_top' > 
						<label>
							{{(infosColl['totalFactures']['Mutualisee'] + infosColl['totalFactures']['Directe']) |number_format(2, ',', ' ')}} € 
						</label>
					</td>

					<td class='center' style='border: solid 1px gray;' > 
						<label>
							{{infosColl['montantMassesSalariales']|number_format(2, ',', ' ')}} € 
						</label>
					</td>
					
				</tr>
				
				<tr>
					
					<td colspan='2' class='center border_right border_bottom border_top' > 
						<label>
							{{(infosColl['totalFactures']['Mutualisee'] + infosColl['totalFactures']['Directe'] + infosColl['montantMassesSalariales'])|number_format(2, ',', ' ') }} € 
						</label>
					</td>
					
				</tr>
		
	
	</table>
	
	
	
	
	
</page>



<page_footer>

	<div id="numero_page" class="right">Page [[page_cu]] sur [[page_nb]]</div>

</page_footer>