{% extends "JCAdminBundle::layout.html.twig" %}




{% block title %}{{ parent() }} - Admin{% endblock %}


{% block jcadmin_body %}  
  

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#tab1" data-toggle="tab">Collectivités </a></li>
            <li><a href="#tab2" data-toggle="tab">Informations Collectivités </a></li>
            <li><a href="#tab3" data-toggle="tab">Clés de répartition </a></li>
            <li><a href="#tab4" data-toggle="tab">Utilisateurs</a></li>
            <li><a href="#tab5" data-toggle="tab">Service</a></li>
          </ul>
        </div>
      </div>


<!-- tab content -->
	<div class="tab-content">
		
		<div class="tab-pane active col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab1">
		  
		    	{{ render(controller("JCAdminBundle:Admin:modificationCollectivites" , { 'request' :request, 'annee': annee })) }}
				
		</div>
	
		
		<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab2">
		  
		    	{{ render(controller("JCAdminBundle:Admin:modificationInformationsCollectivites" , { 'request' :request, 'annee': annee })) }}

		</div>
		
		
		<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab3">
		  
		    	{{ render(controller("JCAdminBundle:Admin:modificationClesRepartition" , { 'request' :request})) }}

		</div>


		<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab4">
		  
		    	{{ render(controller("JCAdminBundle:Admin:modificationUtilisateurs" , { 'request' :request })) }}

		</div>
		
		
		<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab5">
		  
		    	{{ render(controller("JCAdminBundle:Admin:modificationServices" , { 'request' :request })) }}

		</div>
		
		<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab10">
		  <h2>Dolor asit amet</h2>
		   <p>Dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt 
		    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo 
		    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
		    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore 
		    et dolore magna aliquyam erat, sed diam voluptua.</p>
		</div>
		
		<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab11">
		  <h2>Stet clita</h2>
		  <p>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum 
		    iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
		    facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit 
		    augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet,</p>
		    
		</div>
	
	</div>

</div>
{% endblock %}