{% extends "JCAdminBundle::layout.html.twig" %}




{% block title %}{{ parent() }} - Admin{% endblock %}


{% block jcadmin_body %}  
  

<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          
            <li class="active"><a href="#tab1" data-toggle="tab">Collectivités </a></li>
            <li><a href="#tab2" data-toggle="tab">Informations Collectivités </a></li>
            <li><a href="#tab3" data-toggle="tab">Clés de répartition </a></li>
            <li><a href="#tab4" data-toggle="tab">Utilisateurs</a></li>
            <li><a href="#tab5" data-toggle="tab">Service</a></li>
            <li><a href="#tab6" data-toggle="tab">Budgets des services</a></li>
            <li><a href="#tab7" data-toggle="tab">Activites</a></li>
            <li><a href="#tab8" data-toggle="tab">Applications</a></li>
            <li><a href="#tab9" data-toggle="tab">Imputations</a></li>
            <li><a href="#tab11" data-toggle="tab">Masses Salariales</a></li>
            <li><a href="#tab12" data-toggle="tab">Temps Passés</a></li>

          </ul>
        </div>
      </div>


<!-- tab content -->
	<div class="tab-content">
		
		  
	  	{# Seuls les admin peuvent modifier ces informations #}
	  	{% if is_granted('ROLE_ADMIN') %}
			
			<div class="tab-pane active col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab1">
		    	{{ render(controller("JCAdminBundle:Admin:modificationCollectivites" , { 'request' :request, 'annee': annee })) }}
			</div>
			
		{% else %}
			
			<div class="tab-pane active col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab1">

				<div class="alert-message alert-message-danger">	                
		            <h4>Oops ..</h4>
		            <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

	        </div>

		{% endif %}
			
	
		
	
	
	
		

		{# Seuls les admin peuvent modifier ces informations #}
	    {% if is_granted('ROLE_ADMIN') %}

			<div class="tab-pane col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main" id="tab2">
				{{ render(controller("JCAdminBundle:Admin:modificationInformationsCollectivites" , { 'request' :request, 'annee': annee })) }}
			</div>
				
		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab2">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}
						






		  
		{# Seuls les admin peuvent modifier ces informations #}
	    {% if is_granted('ROLE_ADMIN') %}

			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab3">
		    	{{ render(controller("JCAdminBundle:Admin:modificationClesRepartition" , { 'request' :request, 'annee': annee })) }}
			</div>

		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab3">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}

		
		

		
		
		
		  
		{# Seuls les admin peuvent modifier ces informations #}
		{% if is_granted('ROLE_ADMIN') %}
		
			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab4">
		    	{{ render(controller("JCAdminBundle:Admin:modificationUtilisateurs" , { 'request' :request })) }}
			</div>

		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab4">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}
		
		
		
		
		
		
		  	
		{# Seuls les admin peuvent modifier ces informations #}
		{% if is_granted('ROLE_ADMIN') %}

			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab5">
		    	{{ render(controller("JCAdminBundle:Admin:modificationServices" , { 'request' :request })) }}
			</div>

		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab5">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}
		
		
		
		
		
		
		  
	  	{# Seuls les admin peuvent modifier ces informations #}
		{% if is_granted('ROLE_ADMIN') %}

			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab6">
		    	{{ render(controller("JCAdminBundle:Admin:modificationBudgets" , { 'request' :request, 'annee':annee })) }}
			</div>
			
		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab6">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}
		
		
		
		
		
		
		  
		{# Seuls les admin peuvent modifier ces informations #}
	    {% if is_granted('ROLE_ADMIN') %}
		
			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab7">
		    	{{ render(controller("JCAdminBundle:Admin:modificationActivites" , { 'request' :request })) }}
			</div>

		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab7">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}
		
		
		
		
		
		
		  	
	  	{# Seuls les admin peuvent modifier ces informations #}
	    {% if is_granted('ROLE_ADMIN') %}
	
			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab8">
		    	{{ render(controller("JCAdminBundle:Admin:modificationApplications" , { 'request' :request })) }}
			</div>
				
		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab8">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}
		
		
		
		
		
		
		  
	  	{# Seuls les (minimum) COMPTA peuvent modifier ces informations #}
	    {% if is_granted('ROLE_COMPTA') %}
	
			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-12 col-md-offset-1 main" id="tab9">
		    	{{ render(controller("JCAdminBundle:Admin:modificationImputations" , { 'request' :request, 'annee':annee })) }}
			</div>
			
		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab9">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls le service compta peut accèder à cette page. </p>
				</div>

			</div>

		{% endif %}
		
		
		
		
		
		
		  
	  	{# Seuls les admin peuvent modifier ces informations #}
	    {% if is_granted('ROLE_ADMIN') %}
	
			<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-8 col-md-offset-3 main" id="tab10">
		    	{{ render(controller("JCAdminBundle:Admin:modificationMassesSalariales" , { 'request' :request, 'annee':annee })) }}
		    </div>
		    	
		{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab10">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}


		 
		 
		 
		 

	  	{# Seuls les admin peuvent modifier ces informations #}
	  	{% if is_granted('ROLE_ADMIN') %}
			
			 <div class="tab-pane col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 main" id="tab11">
		    	{{ render(controller("JCAdminBundle:Admin:modificationTempsPasses" , { 'request' :request, 'annee':annee })) }}	
		    </div>
		    	
			{% else %}
			
			<div class="tab-pane  col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="tab11">

				<div class="alert-message alert-message-danger">
	                <h4>Oops ..</h4>		                
	                <p> Seuls les administrateurs ont accès à cette page. </p>
				</div>

			</div>

		{% endif %}


			
	</div>

</div>
{% endblock %}