{% form_theme form 'JCAdminBundle:Form:fields.html.twig' %}



<div class='row' id='form_temps_passes'>

	{{ form_start(form) }}

	<div class="container">
		<div class="row">
			<div class="col-md-12">	
				<div class="tabbable-panel">
					<div class="tabbable-line">
						<ul class="nav nav-tabs ">
											
							{% for activite in listeActivites %}
											
								<li >
									<a href="#sub_tab_temps_{{activite.id}}" data-toggle="tab">{{activite.nom}}</a>
								</li>
												
							{% endfor %}
											
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>

				
				
	{# C'est la qu'on affiche les différents form des temps passés #}
				
	<div class="tab-content">
					

		<div class='row'>
			{{ form_errors(form) }}
		</div>
		
		
		
		<nav>
			<ul class="pager">
				<li class='pull-right'><a href="{{  path('jc_admin_homepage', {'annee': (annee+1) }) }}">{{annee+1}} <span aria-hidden="true">&rarr;</span></a></li>
		    	<li class='pull-right'><a href="{{  path('jc_admin_homepage', {'annee': (annee-1) }) }}"><span aria-hidden="true">&larr;</span> {{annee-1}}</a></li>

				<li class='pull-left'>	{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success save glyphicon glyphicon-floppy-disk' } }) }} </li> 

		    </ul>
		</nav>

						       

					
		{% for activite in listeActivites %}
	
	
			<div class="tab-pane active col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sub_tab_temps_{{activite.id}}">
												
				<div class='table-responsive'>

					<div class="panel panel-primary filterable">
					
					    <div class="panel-heading">
									        
							<h3 class="panel-title">{{annee}}</h3>
									
							</div>
								
								
										
						<table class="table table-hover table_center">
									  
							<thead>
								<tr class="filters">
																
									<th class='col-md-5'> Collectivites </th>
													
									<th class='col-md-5'> {{activite.nom}} </th>
																						
								</tr>
							</thead>
											
							
							<tbody>				  	
											  		
								{# On parcours les temps #}
								{% for temps in form.children.listeTempsPasses %}
														
									{# On affiche la valeur du temps si l'activite correspond à la tab #}
															
										{% if activite == temps.vars.value.activite %}
	
											<tr>
												<td>{{temps.vars.value.collectivite.nom}}</td>
																
												<td>{{form_widget(temps , {'attr': {'class':'col-md-12'}} )}}</td>
											</tr>
	
										{% endif %}
																		
									{% endfor %}
									
								
									
							</tbody>
						 
										  
						</table>
										
					</div>
				</div>					
							
			</div>
											
	
		{% endfor %}
				
				
	</div>

	{{ form_end(form) }}

</div>




