{% form_theme form 'JCAdminBundle:Form:fields.html.twig' %}


<div class='row'>
	{{ form_errors(form) }}
</div>


<div class='row' id='form_activite'>

	{{ form_start(form) }}
 
				
		<div class='table-responsive'>

			<div class="panel panel-primary filterable">
			    <div class="panel-heading">
				        				       
				      	<h3 class="panel-title">Activite</h3>

				
			        <div class="pull-right">
			            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success save btn-xs glyphicon glyphicon-floppy-disk' } }) }}                    
			        </div>
			    </div>
		
		
				
				<table class="table table-hover table_center">
			  
				    <thead>
				    	<tr class="filters">										
                        	<th class='col-md-5'>Activite</th>
                        	<th class='col-md-5'>Clé de répartition</th>
                        	<th class='col-md-1'>Ancienne Activite</th>
							
						</tr>								
				    </thead>

					
					<tbody id='body_activite' >
					
					
						<tr id='last_tr_activite'>
			      
			      			<td colspan='3'> <a class='btn btn-xs btn-success btn_ajouter' id='ajouter_activite' > Ajouter une Activite </a> </td>
			      	
				  		</tr>  
				  		
				  		
						{# On parcours les applications #}
						{% for activite in form.listeActivites %}
				
							{% if activite.vars.value.estAncienneActivite == false %}
						
							  	<tr>
							  	
									<td> {{form_widget(activite.nom, {'attr': {'class':'col-md-10 col-md-offset-1'}} )}} </td>				
									<td> {{form_widget(activite.cleRepartition, {'attr': {'class':'col-md-10 col-md-offset-1'}} )}} </td>				
									<td> {{form_widget(activite.estAncienneActivite )}} </td>				
											
								</tr>
										
							{% endif %}
							
						{% endfor %}
				
						
						
						
						{% set i = 0 %}
						
						{# On parcours les activite  #}
						{% for activite in form.listeActivites %}
				
							{% if activite.vars.value.estAncienneActivite == true %}
							  
							  	{% if i == 0 %}
							  
							  		<tr>
							  			<td colspan='3' style='background-color:lightgray'></td>
							  		</tr>
							  		
							  		{% set i = 1 %}
							  	{% endif %}
							  	
							  	<tr>
							  	
									<td> {{form_widget(activite.nom, {'attr': {'class':'col-md-10 col-md-offset-1'}} )}} </td>				
									<td> {{form_widget(activite.cleRepartition, {'attr': {'class':'col-md-10 col-md-offset-1'}} )}} </td>				
									<td> {{form_widget(activite.estAncienneActivite )}} </td>				
											
								</tr>
								
								
							{% endif %}
							
						{% endfor %}

						
				  
				  </tbody>
				  
				</table>
			</div>
			
		</div>	
	
		{{ form_end(form) }}
</div>