{% form_theme form 'JCAdminBundle:Form:fields.html.twig' %}


<div class='row' id='form_collectivite'>

	{{ form_start(form) }}
 


<div class='row'>
	{{ form_errors(form) }}
</div>
				
		<div class='table-responsive'>

			<div class="panel panel-primary filterable">
			    <div class="panel-heading">
			        <h3 class="panel-title">{{annee}}</h3>
			
			        <div class="pull-right">
			            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success save btn-xs glyphicon glyphicon-floppy-disk' } }) }}                    
			        </div>
			    </div>
		
		
				
				<table class="table table-hover table_center">
			  
					<thead>
						<tr>
										
						<th > Collectivite </th>
						{# On parcours les clés #}
						{% for cle in listeCles %}
							
							{# On crée une colonne pour chaque clé #}
							<th> {{cle.nom}} </th>
			
						{% endfor %}
			
						</tr>
					</thead>
					
					<tbody>
					{% set i = 0 %}
					{# On parcours les Collectivite #}
					{% for collectivite in listeCollectivites %}
			
					  	<tr>
					  	
					  		
							{# On crée une ligne par collectivite #}
							<td >{{collectivite.nom}}  </td>
			
							{# On parcours les clés #}
							{% for cle in listeCles %}
								
								{# On affiche la valeur de la clé #}

								<td >{{form_widget(form.children.listeInformations[i])}}</td>
		
				
								{% set i = i+1 %}
		
							{% endfor %}
			
						</tr>
		
					{% endfor %}
			
				</tbody>
 
				  
				</table>
			</div>
			
		</div>	
	
		{{ form_end(form) }}
</div>





<nav>
	<ul class="pager">
    	<li class="previous"><a href="{{  path('jc_admin_homepage', {'annee': (annee-1) }) }}"><span aria-hidden="true">&larr;</span> {{annee-1}}</a></li>
		<li class="next"><a href="{{  path('jc_admin_homepage', {'annee': (annee+1) }) }}">{{annee+1}} <span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>

