{% form_theme form 'JCAdminBundle:Form:fields.html.twig' %}



<div class='row' id='form_collectivite'>

	{{ form_start(form) }}

	<div class="container">
		<div class="row">
			<div class="col-md-12">	
				<div class="tabbable-panel">
					<div class="tabbable-line">
						<ul class="nav nav-tabs ">
									
							{% set i = 0 %}				
		
							{% for cle in listeCles if cle.nom != "Participation" %}
											
								{% if i == 0 %}		
									<li class="active">
								{% else %}
									<li>
								{% endif %}
								
									<a href="#sub_tab_infos_{{cle.id}}" data-toggle="tab">{{cle.nom}}</a>
								</li>

								{% set i = 1 %}	
							{% endfor %}
											
						</ul>
					</div>	
				</div>
			</div>
		</div>
	</div>

				
				
	{# C'est la qu'on affiche les différents form des informations collectivite #}
				
	<div class="tab-content">
					

		<div class='row'>
			{{ form_errors(form) }}
		</div>
		
		
		
		<nav>
			<ul class="pager">
				<li class='pull-right'><a href="{{  path('jc_admin_homepage', {'annee': (annee+1) }) }}">{{annee+1}} <span aria-hidden="true">&rarr;</span></a></li>
		    	<li class='pull-right'><a href="{{  path('jc_admin_homepage', {'annee': (annee-1) }) }}"><span aria-hidden="true">&larr;</span> {{annee-1}}</a></li>

				<li class='pull-left'>	{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success save glyphicon glyphicon-floppy-disk' } }) }} </li> 

		    </ul>
		</nav>

						       

		{% set i = 0 %}		

		{% for cle in listeCles %}
	
			{% if i == 0 %}

				<div class="tab-pane active col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sub_tab_infos_{{cle.id}}">

				{% set i = 1 %}		

			{% else %}

				<div class="tab-pane col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="sub_tab_infos_{{cle.id}}">
			
			{% endif %}
												
				<div class='table-responsive'>

					<div class="panel panel-primary filterable">
					
					    <div class="panel-heading">
									        
							<h3 class="panel-title">{{annee}}</h3>
									
							</div>
								
								
										
						<table class="table table-hover table_center">
									  
							<thead>
								<tr class="filters">
																
									<th class='col-md-5'> Collectivite </th>
													
									<th class='col-md-5'> {{cle}} </th>
																						
								</tr>
							</thead>
											
							
							<tbody>				  	
											  		
								{# On parcours les infos #}
								{% for info in form.children.listeInformations %}
														
									{# On affiche la valeur de la clé si elle correspond à la tab #}
															
										{% if cle == info.vars.value.cleRepartition.nom %}
	
											<tr>
												<td>{{info.vars.value.collectivite.nom}}</td>
																
												<td>{{form_widget(info , {'attr': {'class':'col-md-12'}} )}}</td>
											</tr>
	
										{% endif %}
																		
									{% endfor %}
									
								
									
							</tbody>
						 
										  
						</table>
										
					</div>
				</div>					
							
			</div>
											
	
		{% endfor %}
				
				
	</div>

	{{ form_end(form) }}

</div>




