{% form_theme form 'JCAdminBundle:Form:fields.html.twig' %}


<div class='row' id='form_imputation'>

	{{ form_start(form) }}
 


<div class='row'>
	{{ form_errors(form) }}
</div>
				
		<div class='table-responsive col-md-12'>


		<nav>
				<ul class="pager">
					<li class='pull-right'><a href="{{  path('jc_admin_homepage', {'annee': (annee+1) }) }}">{{annee+1}} <span aria-hidden="true">&rarr;</span></a></li>
			    	<li class='pull-right'><a href="{{  path('jc_admin_homepage', {'annee': (annee-1) }) }}"><span aria-hidden="true">&larr;</span> {{annee-1}}</a></li>
	
					<li class='pull-left'>	{{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success save glyphicon glyphicon-floppy-disk' } }) }} </li> 
	
			    </ul>
			</nav>


			<div class="panel panel-primary filterable">
			    <div class="panel-heading">
			        <h3 class="panel-title">Imputations</h3>
			
					<div class="pull-right">
			            {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-success save btn-xs glyphicon glyphicon-floppy-disk' } }) }}      
			        </div>
			    </div>
		
		
				
				<table class="table table-hover table_center">
			  
					<thead>
						<tr>

							<th class='col-md-4'>Libelle</th>
							<th class='col-md-1'>Sous fonction</th>
							<th class='col-md-2'>Article</th>
							<th class='col-md-2'>Section</th>

							<th class='col-md-2'>Budget</th>

							<th class='col-md-1'>Est facturé</th>

						</tr>
					</thead>
					
					<tbody id='body_imputation'>
					
					
						<tr id='last_tr_imputation'>
			      
			      			<td colspan='6'> <a class='btn btn-xs btn-success btn_ajouter' id='ajouter_imputation' > Ajouter une Imputation </a> </td>
			      	
				  		</tr>  
					
						{# On parcours les imputations #}
			  			{% for imputation in form.listeImputations %}
						  
							<tr>
							  	
 								<td> {{form_widget(imputation.libelle, {attr: {'class':'col-md-11'}})}} </td>
						 		<td> {{form_widget(imputation.sousFonction, {attr: {'class':'col-md-10 col-md-offset-1'}})}} </td>
								<td> {{form_widget(imputation.article, {attr: {'class':'col-md-10 col-md-offset-1'}})}} </td>
								<td> {{ imputation.vars.value.section }} </td>
								
								<td> <a class='btn' data-toggle='modal' data-target='#modalBudgets_{{imputation.vars.value.id}}'>Lier aux budgets</a></td>
					
								<!-- Modal Engager -->
								<div class="modal fade" id="modalBudgets_{{imputation.vars.value.id}}" tabindex="-1" role="dialog" aria-labelledby="modalBudgets_{{imputation.vars.value.id}}">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h4 class="modal-title">Budgets de l'année {{annee}} - {{imputation.vars.value.libelle}}</h4>
								      </div>
								      <div class="modal-body">
									  	
									  	{# On parcours les checkbox #}
									  	
									  	{% for child in imputation.listeImputationConcerneBudget %}
									  		
									  		<div class='row'>
										  		<div class='container'>
											  		<div class='col-md-12'>
											  			
											  			{{ form_widget(child) }}
											  			{{ form_label(child) }}
											  			
											  		</div>
											  	</div>	
										  	</div>
										  	
									  	{% endfor %}
									  	
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="col-md-4 btn btn-success pull-right" data-dismiss="modal"">Confirmer</button>
								      </div>
								    </div>
								  </div>
								</div>
								
								{% if imputation.vars.value.estFacture == 1 %}
									
									<td> Oui </td>
								
								{% else%}
								
									<td> Non </td>
								
								{% endif %}

							</tr>
								
															
						{% endfor %}
		 
				</tbody>
 
				  
				</table>
			</div>
			
		</div>	
	
		{{ form_widget(form._token) }}

		{{ form_end(form, {'render_rest': false} ) }}
</div>

